<!DOCTYPE html>
<html>
<style>
	body {
	  background: url(http://i.imgur.com/uy2pgdC.png) no-repeat;
	  background-size: 100%;
	}
</style>
<body>

<h1 style="color: #fff">Check</h1>
<h3 style="color: #fff">Rule Your Day</h3><br>
<%= link_to "Create a free account", new_user_registration_path, class: "btn btn-large btn-primary" %><br></br>
</body>
</html>
